NET "CLK100MHZ" LOC = "V10" | IOSTANDARD = "LVCMOS33";
NET "SW<0>" LOC ="T10" | IOSTANDARD = "LVCMOS33";
NET "SW<1>" LOC ="T9" | IOSTANDARD = "LVCMOS33";
NET "SW<2>" LOC ="V9" | IOSTANDARD = "LVCMOS33";
NET "SW<3>" LOC ="M8" | IOSTANDARD = "LVCMOS33";
NET "RST" LOC ="B8" | IOSTANDARD = "LVCMOS33";
NET "PWM" LOC ="K1" | IOSTANDARD = "LVCMOS33";
NET "DIR" LOC ="K2" | IOSTANDARD = "LVCMOS33";